.root {
    -fx-background-color: #212121;
}

.label {
    -fx-text-fill: #F1F1F1;
}

.button {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
    -fx-transition: 0.2s;
}

.button:hover {
    -fx-background-color: #e67e22;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #d35400;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}