.root {
    -fx-background-color: #212121;
}

.label {
    -fx-text-fill: #F1F1F1;
}

.button {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #e67e22;
}

.button:pressed {
    -fx-background-color: #d35400;
}

#settingsIcon {
    -fx-image: url("assets/settings_dark.png");
}

#backIcon {
    -fx-image: url("assets/arrow_back_dark.png");
}

.check-box .box {
    -fx-border-color: #777777;
}

.check-box:selected .box {
    -fx-background-color: #e67e22;
    -fx-border-color: #e67e22;
}

.check-box:hover .box {
    -fx-border-color: #aaaaaa;
}

.check-box:selected:hover .box {
    -fx-background-color: #d35400;
    -fx-border-color: #d35400;
}