.root {
    -fx-background-color: #282828;
}

.label {
    -fx-text-fill: #ebdbb2;
}

.label.side-text {
    -fx-text-fill: #928374;
}

.button {
    -fx-background-color: #3c3836;
    -fx-text-fill: #ebdbb2;
}

.button:hover {
    -fx-background-color: #fe8019;
    -fx-text-fill: #282828;
}

.button:pressed {
    -fx-background-color: #d65d0e;
}

#settingsIcon {
    -fx-image: url("assets/settings_dark.png");
}

#backIcon {
    -fx-image: url("assets/arrow_back_dark.png");
}

.check-box .box {
    -fx-border-color: #a89984;
}

.check-box:selected .box {
    -fx-background-color: #fe8019;
    -fx-border-color: #fe8019;
}

.check-box:hover .box {
    -fx-border-color: #ebdbb2;
}

.check-box:selected:hover .box {
    -fx-background-color: #d65d0e;
    -fx-border-color: #d65d0e;
}