.root {
    -fx-background-color: #fbf1c7;
}

.label {
    -fx-text-fill: #3c3836;
}

.label.side-text {
    -fx-text-fill: #928374;
}

.button {
    -fx-background-color: #ebdbb2;
    -fx-text-fill: #3c3836;
}

.button:hover {
    -fx-background-color: #d65d0e;
    -fx-text-fill: #fbf1c7;
}

.button:pressed {
    -fx-background-color: #af3a03;
}

#settingsIcon {
    -fx-image: url("assets/settings_light.png");
}

#backIcon {
    -fx-image: url("assets/arrow_back_light.png");
}

.check-box .box {
    -fx-border-color: #7c6f64;
}

.check-box:selected .box {
    -fx-background-color: #d65d0e;
    -fx-border-color: #d65d0e;
}

.check-box:hover .box {
    -fx-border-color: #3c3836;
}

.check-box:selected:hover .box {
    -fx-background-color: #af3a03;
    -fx-border-color: #af3a03;
}